{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 align-center">
            <h1>{{ title }}</h1>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <table class="table table-striped">
                <thead class="thead-dark">

                <tr>
                    {# <th>Identificador</th> #}
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Tipo de proveedor</th>
                    <th>Activo</th>
                    <th>Editar o Borrar</th>
                </tr>
                </thead>
                <tbody>
                {% for provider in providers %}
                    <tr>
                        {# <td>{{ provider.id }}</td> #}
                        <td>{{ provider.name }}</td>
                        <td>{{ provider.email }}</td>
                        <td>{{ provider.phone }}</td>
                        <td>{{ provider.getProviderType() }}</td>
                        <td>{{ provider.getActive() ? 'Si' : 'No' }}</td>
                        <td>
                            <a href="{{ path('app_editprovider', {id: provider.id}) }}" class="btn btn-primary">Editar</a>
                            <a href="{{ path('app_providerdelete', {id: provider.id}) }}" onclick="return confirm('Estas seguro?');" class="btn btn-danger">BORRAR</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-8  align-center">
            <a href="{{ path('app_create_provider') }}" class="btn btn-primary">{{ btn_create }}</a>
        </div>
    </div>


{% endblock %}